<div class="form">
  <div class="form-product">
    <div class="form-product-title">{{(data.id ? 'Editar ': 'Crear ') + 'usuario' }}</div>
    <mat-icon>add_circle</mat-icon>
  </div>
  <div class="register">
      <div class="register_square_r">
        <h1 class="register_square_r-title"> </h1>
        <form [formGroup]="form" (ngSubmit)="createUser()" class="register_square_r_form">
          <mat-form-field appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input matInput type="letter" placeholder="Nombres" formControlName="name" required/>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Apellido</mat-label>
            <input matInput type="letter" placeholder="Apellidos" formControlName="lastname" required/>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Cedula</mat-label>
            <input matInput type="number" placeholder="Cédula" formControlName="document" required/>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Usuario</mat-label>
            <input matInput type="user" placeholder="Usuario" formControlName="username" required/>
          </mat-form-field>

          <mat-form-field appearance="legacy" *ngIf="!data.id">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'" formControlName="password" required/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
              <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="legacy" *ngIf="!data.id">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'" formControlName="confirm" required/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
              <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="register_square_r_form_b">
            <button class="register_square_r_form_b-principal" mat-raised-button type="submit"
                    color="primary" [disabled]="form.invalid">Guardar</button>
            <button class="register_square_r_form_b-principal" mat-raised-button type="button" color="warn" (click)="dialogRef.close()">Cancelar</button>
          </div>
        </form>
      </div>
  </div>
</div>

