<div class="container">
  <mat-card class="one-card">
  <div class="headdd" >
    <div class="moma-image" [style.backgroundImage]="'grandmother' | images: 'png'" ></div>
  </div>
  <mat-card-title class="textT">Etapa 1</mat-card-title>
  <mat-card-content class="text">
    <p align="center">
      Edad: 80 años y más
    </p>
    <p align="center">
      Poblacion especial:<br>
      <br>- Personal de la salud del área COVID y todos sus respectivos.
    </p>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
  </mat-card>

  <mat-card class="two-card">
    <div class="headdd" >
     <div class="nurse-image" [style.backgroundImage]="'nurse' | images: 'png'" ></div>
    </div>
    <mat-card-title class="textT">Etapa 2</mat-card-title>
    <mat-card-content class="text">
      <p align="center">
        Edad: Entre 79 y 60 años
      </p>
      <p align="center">
        Poblacion especial:<br>
        <br>- Personal de áreas NO COVID.
        <br>- Personal estudiante del área ciencias de la salud.
      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <mat-card class="three-card">
    <div class="headdd">
      <div class="girl-image" [style.backgroundImage]="'girl_pc' | images: 'png'" ></div>
    </div>
    <mat-card-title class="textT">Etapa 3</mat-card-title>
    <mat-card-content class="text">
      <p align="center">
        Edad: Entre 59 y 79 años
      </p>
      <p align="center">
        Poblacion especial:<br>

        <br>- Docentes.
        <br>- Personal educativo.
        <br>- Fuerzas militares.
        <br>- Policía.
        <br>- Personal dedicado al cuidado del adulto mayor.
        <br>- Comorbilidades.
      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <mat-card class="four-card">
    <div class="headdd">
      <div class="cerdo-image" [style.backgroundImage]="'cerdo' | images: 'png'" ></div>
    </div>
    <mat-card-title class="textT">Etapa 4</mat-card-title>
    <mat-card-content class="text">
      <p align="center">
        Edad: Entre 49 y 58 años
      </p>
      <p align="center">
        Poblacion especial:<br>
        <br>- Privados de la libertad.
        <br>- Bomberos.
        <br>- Socorristas cruz roja.
        <br>- Socorristas defensa civil.
        <br>- Personal de vuelos.
        <br>- Personal carcelario.
        <br>- Habitantes de calle
      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <mat-card class="five-card">
    <div class="headdd" >
      <div class="teen-image" [style.backgroundImage]="'teen' | images: 'png'" ></div>
    </div>
    <mat-card-title class="textT">Etapa 5</mat-card-title>
    <mat-card-content class="text">
      <p align="center">
        Edad: Menores de 48 años
      </p>
      <p align="center">
        Poblacion especial: <br>
        <br>- Personas menores de 48 años con priorización de menores de edad.
        <br>- Toda persona no vacunada en las anteriores etapas.
      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>


