<div *ngIf="route.url!=='/'" class="header">
  <div class="header_principal">
    <div class="header_principal_l">
      <div class="header_principal_l-logo" [style.backgroundImage]="'bosque_logo_white' | images: 'image'"></div>
      <div class="header_principal_l-title">Sistema de distribución de vacunas</div>
    </div>
    <div class="header_principal_r">
      <button mat-icon-button matSuffix (click)="closeSession()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      <!--      <mat-icon>notifications</mat-icon>-->
      <!--      <mat-icon>account_circle</mat-icon>-->
    </div>
  </div>
  <div class="header_secondary">
    <div routerLink="/" style="cursor: pointer">Principal</div>
    <mat-icon style="font-weight: bold; margin: 0 .5rem;">arrow_forward_ios</mat-icon>
  </div>
</div>
