<div *ngIf="route.url!=='/'" class="header">
  <div class="header_principal">
    <div class="header_principal_l">
      <div class="header_principal_l-logo"></div>
      <div class="header_principal_l-title">Sistema de distribución de vacunas</div>
    </div>
    <div class="header_principal_r">
      <mat-icon>help</mat-icon>
      <mat-icon>notifications</mat-icon>
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
  <div class="header_secondary">
    <div routerLink="/" style="cursor: pointer">Principal</div>
    <mat-icon style="font-weight: bold; margin: 0 .5rem;">arrow_forward_ios</mat-icon>
  </div>
</div>
