<div class="container">
  <div style="width: 30%">
    <app-info-panel title="Registrar lotes de vacunas" icon="delivery" (submit)="createBatch()" [formGroup]="form">
      <div style="display: flex; justify-content: space-around; flex-wrap: wrap">
        <mat-form-field appearance="legacy" style="width: 45%;">
          <mat-label>Id de entrega</mat-label>
          <input matInput type="number" formControlName="id" required/>
        </mat-form-field>
        <mat-form-field appearance="legacy" style="width: 45%;">
          <mat-label>Numero de lotes</mat-label>
          <input matInput type="number" formControlName="numeroLote" required/>
        </mat-form-field>
        <mat-form-field appearance="legacy" style="width: 45%;">
          <mat-label>Cantidad vacunas por lote</mat-label>
          <input matInput type="number" formControlName="cantidadDosis" required/>
        </mat-form-field>
        <mat-form-field appearance="legacy" style="width: 45%;">
          <mat-label>Costo</mat-label>
          <input matInput type="number" formControlName="costo" required/>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Laboratorio</mat-label>
          <mat-select formControlName="idLaboratorio" required>
            <mat-option *ngFor="let laboratory of laboratories" [value]="laboratory.id"> {{laboratory.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="legacy" style="width: 45%;">
          <mat-label>Fecha</mat-label>
          <input matInput type="number" formControlName="fechaAdquisicion" required/>
        </mat-form-field>
      </div>


    </app-info-panel>
    <div class="announce">
      <div class="announce-image"></div>
      <div class="announce-text">
        Recuerde que los lotes ya enviados <b>no podrán ser modificados</b>, por lo cual se sugiere revisar la
        información antes de realizar el envió de los lotes.
      </div>
    </div>
  </div>

  <div style="width: 65%">
    <app-title-bar title="Lotes en sistema" icon="vaccine_lots" color="yellow"></app-title-bar>

  </div>
</div>
