 @import "../../../../assets/scss/index";

.login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $GRAY-100;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &_square {
    position: relative;
    display: flex;
    width: 70vmax;
    height: 40vmax;
    background-color: $WHITE;
    border-radius: 1rem;
    margin-right: 10%;
    -webkit-box-shadow: 5px 0 20px 0 $OPACITY;
    -moz-box-shadow: 5px 0 20px 0 $OPACITY;
    box-shadow: 5px 0 20px 0 $OPACITY;

    // ---------------------------------------- Parte izquierda del recuadro ---------------------------------------- //

    &_l {
      background-color: $PRIMARY;
      height: 100%;
      width: 30%;
      border-radius: 1rem 0 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &-title {
        text-align: center;
        padding: 0 10%;
        color: $WHITE;
        font-size: 2.5vmax;
        font-weight: initial;
        line-height: normal;
      }
      &-logo {
        background-image: url("/assets/svg/bosque_logo.svg");
        width: 8vmax;
        height: 8vmax;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    // ----------------------------------------- Parte derecha del recuadro ----------------------------------------- //

    &_r {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-title {
        color: $PRIMARY;
        font-weight: bold;
        font-size: 2.55vmax;
        margin: 5vmax 0;
      }

      &_form {
        display: flex;
        flex-direction: column;
        width: 50%;
        font-size: 1vmax;
        &_b {
          margin-top: 3vmax;
          display: flex;
          flex-direction: column;
          align-items: center;

          button {font-size: 1vmax;}

          &-principal {
            width: 10rem;
            margin-bottom: 1vmax;
            height: 2.5vmax;
          }
        }
      }
    }


    // ------------------------------------------ Estilos de imagen lottie ------------------------------------------ //
    &-lottie {
      position: absolute;
      bottom: -12%;
      right: -25%;
    }
  }
}

// ----------------------------------------------- ANGULAR SETTINGS ------------------------------------------------ //
::ng-deep.mat-checkbox-frame {
  border-color: $PRIMARY;
}

::ng-deep.mat-form-field-outline:hover, ::ng-deep.mat-form-field-flex:hover {
  .mat-form-field-outline-start {border-color: $PRIMARY}
  .mat-form-field-outline-gap {border-color: $PRIMARY}
  .mat-form-field-outline-end {border-color: $PRIMARY}
}
