@import '~@angular/material/theming';
@include mat-core();

@import "assets/scss/index";

$covid-primary: mat-palette($c-primary);
$covid-accent: mat-palette($mat-green);
$covid-warn: mat-palette($mat-red);

$covid-theme: mat-light-theme((
  color: (
    primary: $covid-primary,
    accent: $covid-accent,
    warn: $covid-warn,
  )
));

@include angular-material-theme($covid-theme);

body {
  margin: 0;
  font-family: $ROBOTO;
  width: calc(100vw - 4rem);
  min-height: calc(100vh - 2rem);
  background-color: $GRAY-100;
  padding: 0 2rem
}
