@import '~@angular/material/theming';
@include mat-core();

@import "assets/scss/index";

$covid-primary: mat-palette($c-primary);

$covid-theme: mat-light-theme((
  color: (
    primary: $covid-primary,
    accent: $mat-green,
    warn: $mat-red,
  )
));

@include angular-material-theme($covid-theme);

body, html {
  padding: 0;
  margin: 0;
  font-family: $ROBOTO;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
