<button mat-raised-button (click)="goTo(paths.ADMIN.PRINCIPAL)" color="primary">administrador</button>
<button mat-raised-button (click)="goTo(paths.LOGISTICS.PRINCIPAL+'/'+paths.LOGISTICS.VACCINE_LOTS)" color="primary">Logística lotes vacunas</button>
<button mat-raised-button (click)="goTo(paths.LOGISTICS.PRINCIPAL+'/'+paths.LOGISTICS.VACCINES_SHIPMENT)" color="primary">Logística envió vacunas</button>
<button mat-raised-button (click)="goTo(paths.MINISTRY_HEALTH.PRINCIPAL+'/'+paths.MINISTRY_HEALTH.BUSINESS_RULES)" color="primary">Reglas de negocio</button>
<button mat-raised-button (click)="goTo(paths.MINISTRY_HEALTH.PRINCIPAL+'/'+paths.MINISTRY_HEALTH.POPULATION_TO_VACCINE)" color="primary">Población a vacunar</button>
<button mat-raised-button (click)="closeSession()" color="warn">Cerrar sesión</button>
