<button mat-raised-button (click)="closeSession()" color="warn">Cerrar sesión</button>

<div class='body-home'>
  <app-card
    *ngIf="isRole('ROLE_ADMIN')"
    (click)="goTo(paths.ADMIN.PRINCIPAL)"
    icon='profile_admin' color='blue'
    titulo='Administración de usuarios y perfiles'
    subtitulo='Administrador'>
  </app-card>
  <app-card
    *ngIf="isRole('ROLE_AUXILIAR')"
    (click)="goTo(paths.LOGISTICS.PRINCIPAL+'/'+paths.LOGISTICS.VACCINE_LOTS)"
    icon='profile_lots' color='yellow'
    titulo='Lotes de vacunas disponibles'
    subtitulo='Auxiliar de logística'>
  </app-card>
  <app-card
    *ngIf="isRole('ROLE_AUXILIAR')"
    (click)="goTo(paths.LOGISTICS.PRINCIPAL+'/'+paths.LOGISTICS.VACCINES_SHIPMENT)"
    icon='profile_lots' color='yellow'
    titulo='Envío de vacunas'
    subtitulo='Auxiliar de logística'>
  </app-card>
  <app-card
    *ngIf="isRole('ROLE_PERSONAL')"
    (click)="goTo(paths.MINISTRY_HEALTH.PRINCIPAL+'/'+paths.MINISTRY_HEALTH.BUSINESS_RULES)"
    icon='profile_nurse' color='light'
    titulo='Aplicación de vacuna'
    subtitulo='Personal de la salud'>
  </app-card>
  <app-card
    *ngIf="isRole('ROLE_COORDINADOR')"
    (click)="goTo(paths.MINISTRY_HEALTH.PRINCIPAL+'/'+paths.MINISTRY_HEALTH.POPULATION_TO_VACCINE)"
    icon='profile_medical_center' color='red'
    titulo='Aplicación de vacuna'
    subtitulo='Personal de la salud'>
  </app-card>
</div>

<div class="body-home">
    <div class="body-home-image" [style.backgroundImage]="'background_dashboard' | images: 'image'" ></div>
</div>
