.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.patients {
  width: 70%;

  &_table {
    border: 2px solid #D5D5D5;
    background-color: white;

    &_top {
      border-bottom: 2px solid #D5D5D5;
      background-color: white;
      display: flex;
      align-items: center;
      padding: .5rem 1rem;
      justify-content: space-between;

      &-filter {
        width: 30%
      }
    }

    &_content {
      width: 100%;
    }
  }
}

.mapa {
  height: 70vh !important;
  width: 100%;

}

.containerm {
  width: 800px;
  margin: auto;
  margin-top: 100px;
}
