<div class="container">
  <div style="width: 15%">
    <app-info-panel title="Atención" icon="message_alert">
      <div>Se informa que las reglas de decisión que se toman para definir la prioridad de vacunación se encuentran en
        el modulo <b>Reglas de decisión</b>.
      </div>
    </app-info-panel>
  </div>
  <div style="width: 83%">
    <app-title-bar color="red" icon="vaccine" title="Población a vacunar"></app-title-bar>

    <div class="patients_table">
      <div class="patients_table_top">
        <mat-form-field class="patients_table_top-filter">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" type="text" placeholder="Filtro" #input>
          <mat-icon matSuffix color="primary">filter_alt</mat-icon>
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="patients_table_content">
        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef>Documento</th>
          <td mat-cell *matCellDef="let population">{{population.tipo_documento}} {{population.id_cedula}}</td>
        </ng-container>
        <ng-container matColumnDef="paciente">
          <th mat-header-cell *matHeaderCellDef>Paciente</th>
          <td mat-cell *matCellDef="let population">{{population.nombre_paciente}} {{population.apellido_paciente}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha_nacimiento">
          <th mat-header-cell *matHeaderCellDef>Fecha de nacimiento</th>
          <td mat-cell *matCellDef="let population">{{population.fecha_nacimiento | date: 'mediumDate'}}</td>
        </ng-container>
        <ng-container matColumnDef="etapa">
          <th mat-header-cell *matHeaderCellDef>Etapa</th>
          <td mat-cell *matCellDef="let population">{{population.etapa.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="estadoPaciente">
          <th mat-header-cell *matHeaderCellDef>Estado del paciente</th>
          <td mat-cell *matCellDef="let population">{{population.estadoPaciente.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="centroSalud">
          <th mat-header-cell *matHeaderCellDef>Centro de salud asignado</th>
          <td mat-cell *matCellDef="let population">{{population.centroSalud.sede_nombre}}<br>{{population.centroSalud.direccion}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let action" class="patients_table_content-actions">
            <button mat-raised-button color="primary" (click)="openDialog(action)">
              Cambiar centro salud
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

